:root {
    --color1: #abd699;
    --color2: #75c9b7;
    --color3: #16123f;
    --color4:  #1E392A;
}

html, body {
    height: 100%;
    background-color: var(--color2);
}

.container-fluid{
    background-color: var(--color2);
    height: 100%;
}

.logo{
    margin-top: 1%;
    width: 80%;
}